# æ•°æ®å°è£…

ä¸ºäº†æ–¹ä¾¿ç”¨æˆ·å¯¹æ•°æ®è¿›è¡Œå¤„ç†ï¼Œsecretflowæä¾›äº†è”é‚¦æ•°æ®çš„DataFrameå½¢å¼å°è£…ï¼ŒDataFrameç”±å¤šä¸ªå‚ä¸æ–¹çš„æ•°æ®å—ç»„æˆï¼Œæ”¯æŒæ•°æ®æ°´å¹³å’Œå‚ç›´åˆ‡åˆ†ä¸¤ç§æ¨¡å¼ã€‚

<img alt="dataframe.png" src="resource/dataframe.png" width="600">

ç›®å‰secreflow.DataFrameæä¾›äº†pandasæ“ä½œçš„å­é›†ï¼Œå…¶ä½¿ç”¨æ–¹å¼åŸºæœ¬ä¸pandasä¸€è‡´ã€‚è®¡ç®—è¿‡ç¨‹ä¸­ï¼ŒåŸå§‹æ•°æ®ä¿æŒåœ¨æ•°æ®æŒæœ‰æ–¹ï¼Œå¹¶ä¸ä¼šå‡ºåŸŸã€‚



ä¸‹é¢å°†æ¼”ç¤ºå¦‚ä½•ä½¿ç”¨DataFrameã€‚

## å‰ç½®å‡†å¤‡

åˆå§‹åŒ–secretflowï¼Œåˆ›å»ºä¸¤ä¸ªå‚ä¸æ–¹aliceå’Œbobã€‚

In [1]:
import secretflow as sf

sf.init(['alice', 'bob'])
alice = sf.PYU('alice')
bob = sf.PYU('bob')

## æ•°æ®å‡†å¤‡

è¿™é‡Œæˆ‘ä»¬ä½¿ç”¨[iris](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html) ä½œä¸ºç¤ºä¾‹æ•°æ®ã€‚

In [2]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris(as_frame=True)
data = pd.concat([iris.data, iris.target], axis=1)
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

æˆ‘ä»¬å¯¹æ•°æ®åˆ†åˆ«æŒ‰ç…§æ°´å¹³ï¼ˆç‰¹å¾ç›¸åŒï¼Œå„æŒæœ‰éƒ¨åˆ†æ ·æœ¬ï¼‰å’Œå‚ç›´æ¨¡å¼ï¼ˆå„æŒæœ‰éƒ¨åˆ†ç‰¹å¾ï¼‰è¿›è¡Œåˆ‡åˆ†ï¼Œä¾¿äºåç»­çš„å±•ç¤ºã€‚

In [3]:
# å¯¹Irisæ•°æ®é›†è¿›è¡Œæ°´å¹³åˆ‡åˆ†
h_alice, h_bob = data.iloc[:70, :], data.iloc[70:, :]

# ä¿å­˜æ•°æ®é›†åˆ°æ–‡ä»¶
import tempfile

_, h_alice_path = tempfile.mkstemp()
_, h_bob_path = tempfile.mkstemp()
h_alice.to_csv(h_alice_path, index=False)
h_bob.to_csv(h_bob_path, index=False)

In [4]:
h_alice

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
65,6.7,3.1,4.4,1.4,1
66,5.6,3.0,4.5,1.5,1
67,5.8,2.7,4.1,1.0,1
68,6.2,2.2,4.5,1.5,1
69,5.6,2.5,3.9,1.1,1

In [5]:
h_bob

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
70,5.9,3.2,4.8,1.8,1
71,6.1,2.8,4.0,1.3,1
72,6.3,2.5,4.9,1.5,1
73,6.1,2.8,4.7,1.2,1
74,6.4,2.9,4.3,1.3,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [6]:
# å¯¹Irisæ•°æ®é›†è¿›è¡Œå‚ç›´åˆ‡åˆ†
v_alice, v_bob = data.iloc[:, :2], data.iloc[:, 2:]

# ä¿å­˜æ•°æ®é›†åˆ°æ–‡ä»¶
_, v_alice_path = tempfile.mkstemp()
_, v_bob_path = tempfile.mkstemp()
v_alice.to_csv(v_alice_path, index=False)
v_bob.to_csv(v_bob_path, index=False)

In [7]:
v_alice

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

In [8]:
v_bob

     petal length (cm)  petal width (cm)  target
0                  1.4               0.2       0
1                  1.4               0.2       0
2                  1.3               0.2       0
3                  1.5               0.2       0
4                  1.4               0.2       0
..                 ...               ...     ...
145                5.2               2.3       2
146                5.0               1.9       2
147                5.2               2.0       2
148                5.4               2.3       2
149                5.1               1.8       2

[150 rows x 3 columns]

## åˆ›å»º

### æ°´å¹³DataFrame

åˆ›å»ºä¸€ä¸ªç”±æ°´å¹³åˆ‡åˆ†æ•°æ®ç»„æˆçš„DataFrameã€‚

> ğŸ’¡ åŸå§‹æ•°æ®ä»ç„¶ä¿å­˜åœ¨æ•°æ®æŒæœ‰æ–¹æœ¬åœ°ï¼Œæ²¡æœ‰ä¼ è¾“å‡ºåŸŸã€‚

è¿™é‡Œä¸ºäº†æ–¹ä¾¿æ¼”ç¤ºï¼Œæˆ‘ä»¬é€‰æ‹©äº†æ˜æ–‡èšåˆå’Œæ¯”è¾ƒã€‚æ‚¨å¯ä»¥å‚è€ƒ[å®‰å…¨èšåˆ](./Secure_aggregation.ipynb)ï¼Œäº†è§£æ›´å¤šå®‰å…¨èšåˆæ–¹æ¡ˆï¼Œå¹¶æ ¹æ®æ‚¨çš„éœ€æ±‚æ–½è¡Œåˆé€‚çš„å®‰å…¨ç­–ç•¥ã€‚

In [9]:
from secretflow.data.horizontal import read_csv as h_read_csv
from secretflow.security.aggregation import PlainAggregator
from secretflow.security.compare import PlainComparator

# aggregatorã€comparatoråˆ†åˆ«ç”¨äºåç»­çš„æ•°æ®åˆ†ææ“ä½œä¸­å¯¹æ•°æ®è¿›è¡Œèšåˆæˆ–æ¯”è¾ƒã€‚
hdf = h_read_csv({alice: h_alice_path, bob: h_bob_path}, 
                 aggregator=PlainAggregator(alice), 
                 comparator=PlainComparator(alice))

### å‚ç›´DataFrame

åˆ›å»ºä¸€ä¸ªç”±å‚ç›´åˆ‡åˆ†æ•°æ®ç»„æˆçš„DataFrameã€‚

> ğŸ’¡ åŸå§‹æ•°æ®ä»ç„¶ä¿å­˜åœ¨æ•°æ®æŒæœ‰æ–¹æœ¬åœ°ï¼Œæ²¡æœ‰ä¼ è¾“å‡ºåŸŸã€‚

In [10]:
from secretflow.data.vertical import read_csv as v_read_csv
from secretflow.security.aggregation import PlainAggregator
from secretflow.security.compare import PlainComparator

vdf = v_read_csv({alice: v_alice_path, bob: v_bob_path})

## æ•°æ®åˆ†æ

å‡ºäºæ•°æ®éšç§ä¿æŠ¤çš„ç›®çš„ï¼ŒDataFrameä¸å…è®¸æŸ¥çœ‹åŸå§‹æ•°æ®ã€‚DataFrameæä¾›äº†å’Œpandasç±»ä¼¼çš„æ¥å£ä¾¿äºç”¨æˆ·åˆ†ææ•°æ®ï¼Œè¿™äº›æ¥å£é€šå¸¸åŒæ—¶æ”¯æŒæ°´å¹³å’Œå‚ç›´åˆ‡åˆ†æ•°æ®ã€‚

> ğŸ’¡ ä»¥ä¸‹æ“ä½œè¿‡ç¨‹ä¸­ï¼ŒDataFrameçš„åŸå§‹æ•°æ®ä»ç„¶ä¿å­˜åœ¨èŠ‚ç‚¹æœ¬åœ°ï¼Œæ²¡æœ‰ä¼ è¾“å‡ºåŸŸã€‚

In [11]:
hdf.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [12]:
vdf.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

æŸ¥çœ‹æœ€å°å€¼ï¼Œå¯ä»¥çœ‹åˆ°å’ŒåŸå§‹æ•°æ®ä¸€è‡´ã€‚

In [13]:
print('Horizontal df:\n', hdf.min())
print('\nVertical df:\n', vdf.min())
print('\nPandas:\n', data.min())

Horizontal df:
 sepal length (cm)    4.3
sepal width (cm)     2.0
petal length (cm)    1.0
petal width (cm)     0.1
target               0.0
dtype: float64

Vertical df:
 sepal length (cm)    4.3
sepal width (cm)     2.0
petal length (cm)    1.0
petal width (cm)     0.1
target               0.0
dtype: float64

Pandas:
 sepal length (cm)    4.3
sepal width (cm)     2.0
petal length (cm)    1.0
petal width (cm)     0.1
target               0.0
dtype: float64

åŒæ ·ä¹Ÿå¯ä»¥æŸ¥çœ‹æœ€å¤§å€¼ã€å‡å€¼ã€æ•°é‡ç­‰ä¿¡æ¯ã€‚

In [14]:
hdf.max()

sepal length (cm)    7.9
sepal width (cm)     4.4
petal length (cm)    6.9
petal width (cm)     2.5
target               2.0
dtype: float64

In [15]:
vdf.max()

sepal length (cm)    7.9
sepal width (cm)     4.4
petal length (cm)    6.9
petal width (cm)     2.5
target               2.0
dtype: float64

In [16]:
hdf.mean(numeric_only=True)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
target               1.000000
dtype: float64

In [17]:
vdf.mean(numeric_only=True)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
target               1.000000
dtype: float64

In [18]:
hdf.count()

sepal length (cm)    150
sepal width (cm)     150
petal length (cm)    150
petal width (cm)     150
target               150
dtype: int64

In [19]:
vdf.count()

sepal length (cm)    150
sepal width (cm)     150
petal length (cm)    150
petal width (cm)     150
target               150
dtype: int64

### ç­›é€‰

è·å–éƒ¨åˆ†åˆ—

In [20]:
hdf_part = hdf[['sepal length (cm)', 'target']]
hdf_part.mean(numeric_only=True)

sepal length (cm)    5.843333
target               1.000000
dtype: float64

In [21]:
vdf_part = hdf[['sepal width (cm)', 'target']]
vdf_part.mean(numeric_only=True)

sepal width (cm)    3.057333
target              1.000000
dtype: float64

### ä¿®æ”¹

æ°´å¹³DataFrame

In [22]:
hdf_copy = hdf.copy()
print('Min of target: ', hdf_copy['target'].min()[0])
print('Max of target: ', hdf_copy['target'].max()[0])

Min of target:  0
Max of target:  2

In [23]:
# å°†targetåˆ—çš„å€¼è®¾ä¸º1ã€‚
hdf_copy['target'] = 1

# æŸ¥çœ‹ä¿®æ”¹åçš„æ•ˆæœï¼Œå¯ä»¥çœ‹åˆ°targetçš„å€¼éƒ½å˜æˆ1ã€‚
print('Min of target: ', hdf_copy['target'].min()[0])
print('Max of target: ', hdf_copy['target'].max()[0])

Min of target:  1
Max of target:  1

å‚ç›´DataFrame

In [24]:
vdf_copy = vdf.copy()
print('Min of sepal width (cm): ', vdf_copy['sepal width (cm)'].min()[0])
print('Max of sepal width (cm): ', vdf_copy['sepal width (cm)'].max()[0])

Min of sepal width (cm):  2.0
Max of sepal width (cm):  4.4

In [25]:
# å°†sepal width (cm)åˆ—çš„å€¼è®¾ä¸º1ã€‚
vdf_copy['sepal width (cm)'] = 20

# æŸ¥çœ‹ä¿®æ”¹åçš„æ•ˆæœï¼Œå¯ä»¥çœ‹åˆ°targetçš„å€¼éƒ½å˜æˆ20ã€‚
print('Min of sepal width (cm): ', vdf_copy['sepal width (cm)'].min()[0])
print('Max of sepal width (cm): ', vdf_copy['sepal width (cm)'].max()[0])

Min of sepal width (cm):  20
Max of sepal width (cm):  20

## æ”¶å°¾

In [26]:
# æ¸…ç†ä¸´æ—¶æ–‡ä»¶

import os

try:
    os.remove(h_alice_path)
    os.remove(h_bob_path)
except OSError:
    pass

try:
    os.remove(v_alice_path)
    os.remove(v_bob_path)
except OSError:
    pass